.AdminHome {
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    margin-top: 5px;
}
.orders-list-fml {
    max-height: 150px!important;
    overflow: scroll;
}
.AdminHomeTop__li {
    margin: 5px;
}

