@media (min-width: 800px) {
    .AdminHome {
        width: 70%!important;
        margin-left: 30%!important;
    }
    .map {
        width: 70%!important;
        margin-left: 30%!important;
    }
    .BasicList__container {
        width: 68%!important;
        margin-left: 31%!important;
    }
    .inner {
        width: 95%!important;
        margin: auto!important;
    }
}
