.date-time-photo__container {
  margin-bottom: 30px;
  margin-top: 20px;
  align-content: center; }
  .date-time-photo__container .date-time-photo__picker {
    display: flex; }
  .date-time-photo__container p {
    font-size: 16px; }
  .date-time-photo__container button {
    padding: 12px;
    border-radius: 100%;
    border: 3px solid #3161A6;
    background-color: white; }
  .date-time-photo__container .fas {
    font-size: 30px; }
  .date-time-photo__container .AddPhotos__button {
    color: #3161A6;
    box-shadow: 0 1px 2px 0 rgba(20, 20, 20, 0.288);
    border: 5px solid  #3161A6;
    background: white;
    border-radius: 50%;
    display: flex;
    padding: 25px;
    font-size: 28px;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px; }

.react-datepicker__input-container > input, .date > input {
  background-color: rgba(255, 255, 255, 0.014);
  border: none;
  color: #0f2f56;
  margin-left: 10px; }

.react-datepicker__month-container {
  width: 343px;
  height: auto; }

.react-datepicker__month, .react-datepicker__current-month {
  font-size: 20px !important;
  margin-bottom: 5px; }

.react-datepicker__header {
  height: 70px; }

.react-datepicker__day, .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  width: 3.2rem !important;
  height: 3.2rem;
  font-size: 14px !important; }

#add-order > div:nth-child(5) > div.DateTime__container > div:nth-child(1) > div > div.react-datepicker-popper {
  transform: translate3d(0px, 500px, 0px) !important; }

div.react-datepicker-popper {
  position: absolute;
  will-change: transform;
  top: 0px;
  left: 0px;
  transform: translate3d(0px, 380px, 0px) !important; }

.react-datepicker__triangle {
  margin-left: 80px !important; }

.time__input {
  background-color: rgba(255, 255, 255, 0.014);
  border: none;
  text-align: center;
  margin-left: 15px; }
