.react-datepicker__input-container > input, .date > input {
    background-color: rgba(255, 255, 255, 0.014);
    border: none;
    color: #0f2f56;
    width: 100%;
    position: relative;
    text-align: center;
}


.react-datepicker__month-container {
    width: 343px;
    height: auto;
}

.react-datepicker__month, .react-datepicker__current-month {
    font-size: 20px !important;
    margin-bottom: 5px;
}

.react-datepicker__header {
    height: 70px;
}

.react-datepicker__day, .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    width: 3.2rem !important;
    height: 3.2rem;
    font-size: 14px !important;
}

.react-datepicker-popper[data-placement^="top"] {
    transform: translate3d(0px, 380px, 0px) !important;
}


.DateTime__container {
    display: flex;
    width: 100%;
    margin-top: 25%;
    margin-bottom: 3%;
}

.DateTime__buttons {
    flex-direction: column;
    align-items: center;
}

.DateTime__input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.014);
    border: none;
    text-align: center;
    margin-left: 5px;
}

.DateTime__buttons > input::placeholder{
    text-align: center;
}

.DateTime__calendar {
    display: flex;
    align-items: baseline;
}


.fa-calendar-alt, .fa-clock {
    color: #0f2f56;
    font-size: 28px;
}







