.bottomNav {
  background-color: rgba(37, 37, 37, 0.95);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999; }
  .bottomNav ul {
    justify-content: space-around;
    display: flex;
    width: 100%;
    list-style: none; }
    .bottomNav ul li > a > i {
      color: #f7f7f8;
      font-size: 35px;
      padding: 15px; }
      .bottomNav ul li > a > i:hover {
        color: #476eb7; }
