.bottomNav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #3161a6;
    padding-top: 20px;
}

.bottomNavList {
    display: flex;
    border: none;
    width: 100%;
    justify-content: space-around;
    list-style: none;
}

.bottomNavList > li > a {
    color: rgb(241, 240, 240);
    font-size: 26px;
}

.bottomOrders {
    display: flex;
    color: white;
}

.bottomNavList > li > a:hover, .bottomNav > li > a:focus {
    color: rgb(45, 46, 46);  
}

.logout {
    background: rgba(255, 255, 255, 0);
    border: none;
    color: rgb(206, 205, 205);
    margin: 0;
    font-size: 26px;
    padding: 0;
}