.add {
    padding: 20px;
    border-radius: 30px;
    text-transform: uppercase;
    margin-bottom: 25px;
    background: rgba(195, 195, 196, 0.445);
    border: black;
    color: rgb(44, 43, 43);
    width: 300px;
}

.uploadImageButton {
    color: rgb(72, 105, 148);
    font-size: 24px;
}