.Create__button {
  color: #476eb7;
  box-shadow: 0 1px 2px 0 rgba(20, 20, 20, 0.288);
  border: 5px solid #476eb7;
  background: rgba(255, 255, 255, 0.308);
  border-radius: 50%;
  display: flex;
  padding: 20px;
  font-size: 28px;
  justify-content: center;
  margin: auto;
  right: 40%; }

.take, .accept {
  background-color: green;
  text-transform: uppercase;
  margin-bottom: 0; }
