@media (min-width: 800px) {
  .fix-customer .BasicForm {
    margin: 10vh auto !important; }
  .fix-customer .customerOrder {
    margin: 0vh 0 0 0 !important; }
  .fix-customer .BasicList__container {
    margin: auto !important; }
  .fix-customer .fixed {
    width: 100% !important;
    margin: 0 !important; } }
