.CustomerHome__menu {
    width: 100%;
    position: absolute;
    color: rgb(63, 62, 62);
    margin-top: 50px;
    text-align: center;
}

.CustomerHome__buttons {
    font-size: 50px;
    width: 180px;
    height: 200px;
    margin: 5px;
    background-color: rgba(77, 77, 77, 0.521);
    border: none;
    border-radius: 10px;
}

.CustomerHome__buttons > a {
    color: rgb(26, 25, 25);
}

.CustomerHome__buttonText {
    font-size: 12px;
}

.CustomerHome__welcome {
    color: #424242;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 32px;
}

.CustomerHome__userIcon {
    font-size: 96px;
    color: rgb(60, 61, 61);
}

.AllPagesInfo {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 20px;
    justify-content: center;
    text-transform: uppercase;
}