.react-datepicker__input-container > input, .date > input {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.014);
    border: none;
}

.react-datepicker__month-container {
    width: 300px;
    height: 300px;
}

.react-datepicker__month, .react-datepicker__current-month {
    font-size: 20px !important;
    margin-bottom: 5px;
}

.react-datepicker__header {
    height: 70px;
}

.date {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.react-datepicker__day, .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    width: 3.2rem !important;
    height: 3.2rem;
    font-size: 14px !important;
}

.react-datepicker-popper[data-placement^="top"] {
    transform: translate3d(43px, -25px, 0px) !important;
}