.Admin-TopNav {
  width: 100%;
  top: 0;
  display: flex;
  position: fixed;
  justify-content: space-around;
  background-color: rgba(37, 37, 37, 0.95);
  z-index: 9999; }

.slide-menu__icon-top {
  top: 0;
  z-index: 9999;
  padding: 15px;
  color: #f7f7f8;
  font-size: 35px;
  border: 0;
  background: none; }
  .slide-menu__icon-top:hover {
    color: #476eb7; }

.slide-menu {
  background-color: rgba(37, 37, 37, 0.7); }
  .slide-menu h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    color: #f7f7f8; }
  .slide-menu a {
    font-size: 16px;
    padding: 25px;
    color: #f7f7f8;
    text-transform: uppercase;
    padding-left: 60px;
    border-bottom: 0.5px solid rgba(249, 250, 252, 0.24); }
    .slide-menu a:hover {
      color: #f7f7f8;
      text-decoration: none; }
    .slide-menu a:last-of-type {
      border-bottom: none;
      padding-left: none;
      padding: 30px;
      text-align: center;
      text-transform: uppercase; }
  .slide-menu i {
    color: #f7f7f8;
    font-size: 25px; }

.services {
  left: 0; }
  .services i {
    margin-right: 15px; }

.accounts {
  right: 0;
  float: right; }
  .accounts a {
    text-align: end; }
  .accounts i {
    margin-left: 15px; }

.bm-overlay {
  left: 0;
  background-color: rgba(37, 37, 37, 0.95) !important; }

/* DESKTOP */
@media (min-width: 800px) {
  .Admin-TopNav {
    display: none; } }
