.TopNav {
  width: 100%;
  top: 0;
  display: flex;
  position: fixed;
  justify-content: space-around;
  height: 70px;
  background-color: #3163a5; 
  z-index: 9999;}

.navBar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #3163a5;
  padding: 10px;
  border-bottom: 1px solid #2b2929;
  list-style: none;
  z-index: 9999; }
  .navBar > li > a {
    color: #f4f4f5;
    font-size: 36px; }
    .navBar > li > a:focus, .navBar > li > a:hover {
      color: #2d2e2e; }

#app div div div.navBar li.dropdown.open ul li a a {
  padding: 10px;
  color: #8bb1db; }
  #app div div div.navBar li.dropdown.open ul li a a:hover {
    background-color: #0000e8;
    text-decoration: none; }

.slide-menu {
  background-color: rgb(49, 99, 165);
  margin-top: 12px;
  height: 100vh; 
}

.accounts {
  right: 0;
  float: right; }

.menu-item2 {
  font-size: 16px;
  padding: 20px;
  color: white;
  padding-right: 40px;
  width: 100%;
  text-align: end;
  border-bottom: 1px solid rgba(249, 250, 252, 0.24); }

.services {
  left: 0; }

.bm-overlay {
  margin-top: -10px;
  background-color: rgba(19, 18, 18, 0.637) !important; }

.menu-item {
  font-size: 16px;
  padding: 20px;
  color: white;
  padding-left: 40px;
  border-bottom: 1px solid rgba(249, 250, 252, 0.24); }

.menu-item2:hover .menu-item:hover {
  color: #afaeae;
  text-decoration: none; }

.slide {
  margin-right: 15px;
  color: #cfcfcf;
  font-size: 20px; }

.slide2 {
  margin-left: 15px;
  color: #cfcfcf;
  font-size: 20px; }

.slide-menu__header {
  text-transform: uppercase;
  padding-left: 40px;
  font-size: 18px;
  line-height: 2;
  margin-top: 0;
  background-color: #c4c1c1;
  color: rgba(41, 40, 40, 0.418); }

.slide-menu__header2 {
  text-transform: uppercase;
  text-align: right;
  width: 100%;
  padding-right: 20px;
  font-size: 18px;
  line-height: 2;
  margin-top: 0;
  background-color: #c4c1c1;
  color: rgba(41, 40, 40, 0.418); }

.slide-menu__press {
  top: 0;
  z-index: 9999;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  color: #f4f4f5;
  font-size: 34px;
  border: 0;
  background: none; }

.slide-logout {
  padding-top: 9px;
  margin-top: 10px;
  padding-bottom: 20px;
  padding-left: 40px; }
  .slide-logout:hover {
    color: white;
    text-decoration: none; }

.slide-menu__press i:hover {
  color: #2d2e2e; }

@media (min-width: 800px) {
  .fa-sign-out-alt {
    margin-left: 2px !important; }
  .slide-menu {
    width: 30% !important;
    height: 86vh !important; }
  .menu-item {
    padding: 3.64vh; }

  .slide-menu__header, .slide-menu__header2 {
    color: #F2F2F2;
    background: none;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 0px !important; } }
