@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  background-color: #f9f9f9;
  height: 100vh;
  overflow: scroll;
  width: auto;
  font-family: 'Quicksand', sans-serif; }

.sign-in__container {
  width: 50vh;
  margin: auto; }

.sign-in__tabs {
  display: flex;
  width: 47vh;
  margin: auto;
  margin-top: 10vh; }

.sign-in__tabs__link {
  width: 100vh;
  padding: 2vh;
  text-align: center;
  background-color: #476eb7;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  font-size: 16px; }

.sign-in__logo__img {
  float: left;
  margin-bottom: 4vh;
  margin-left: -9vh;
  margin-top: -1vh;
  height: 10vh;
  position: absolute;
  z-index: -1; }

.sign-in__logo__line1 {
  text-align: right;
  margin-right: 3vh;
  margin-top: 20vh;
  text-transform: uppercase;
  color: rgba(175, 174, 174, 0.815);
  line-height: 0.2;
  font-size: 32px;
  letter-spacing: 0.5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800; }

.sign-in__logo__line2 {
  text-align: right;
  margin-right: 3vh;
  line-height: 0.2;
  letter-spacing: 1px;
  font-size: 18px; }

button, li {
  padding: 0;
  margin: 0; }
