.SignInForm-login, .SignUpForm-login {
    width: 350px;
    margin: auto;
    /* border: #41293291; */
    margin-top:30px;
    color:white;
    
}

.form-container {

    background:#282829e8;
    padding-bottom: 2em;
    margin-top:150px;
    border-radius: 10px;
    box-shadow: black;
    
}

.btn-primary {
    width: 350px;
    margin: auto;
}

.App-signup-text {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 15px;
    font-size: 16px;
}

.form {
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

.form-control {
    border: none;
    border-bottom: 2px solid #377bb5;
    background: #282829e8;
    color: white;
    
}

.link-group {
    padding-top:30px;
    display: flex;
    justify-content: center;
}


.signin-link {
    color:white;
    font-weight: 450;
    flex: 1;
    text-align:center;

}
.signin-link:hover {
    color:white;
    text-decoration: none;
    border-bottom: 2px solid #377bb5;

}


.help-block {
    background-color: #fffdfd00 !important;
    color: white;
}


.error {
    background-color: #fffdfd00 !important;
    color: rgb(245, 3, 3)
}

.sucess {
    background-color: #fffdfd00 !important;
    color: rgb(95, 255, 95);
}

@media only screen and (min-width : 320px) and (max-width : 480px) {

    .PhotoFeed {
        padding-top: 80px;
    }
}

