.SignInForm-login, .SignUpForm-login {
    width: 350px;
    margin: auto;
    border: #41293291;
    margin-top: 200px;
    color:white;
    
}

.form-container {
    background: rgba(32, 32, 32, 0.562);
    padding-bottom: 2em;
    
}

.btn-primary {
    width: 350px;
    margin: auto;
}

.App-signup-text {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 15px;
    font-size: 16px;
}

.form {
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

.form-control {
    border: none;
    border-bottom: 2px solid #377bb5;
    background: grey;
    color: white;
    
}

.help-block {
    background-color: #fffdfd00 !important;
    color: rgb(36, 36, 36);
}

.error {
    background-color: #fffdfd00 !important;
    color: red
}

.sucess {
    background-color: #fffdfd00 !important;
    color: green;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {

    .PhotoFeed {
        padding-top: 80px;
    }
}