  
  @keyframes glowing-new {
    0% { box-shadow: 0 0 -10px red; }
    40% { box-shadow: 0 0 30px red; }
    60% { box-shadow: 0 0 30px  red; }
    100% { box-shadow: 0 0 -10px red; }
  }

  @keyframes glowing-active {
    0% { box-shadow: 0 0 -10px #ff8800; }
    40% { box-shadow: 0 0 30px #ff8800; }
    60% { box-shadow: 0 0 30px  #ff8800; }
    100% { box-shadow: 0 0 -10px #ff8800; }
  }

  @keyframes glowing-completed {
    0% { box-shadow: 0 0 -10px #018f01; }
    40% { box-shadow: 0 0 30px #018f01; }
    60% { box-shadow: 0 0 30px  #018f01 }
    100% { box-shadow: 0 0 -10px #018f01; }
  }
  
  .button-glow-completed {
    animation: glowing-completed 2000ms infinite;
    border-radius: 100%;
  }

  .button-glow-new {
    animation: glowing-new 2000ms infinite;
    border-radius: 100%;
  }

  .button-glow-active {
    animation: glowing-active 2000ms infinite;
    border-radius: 100%;
  }
  