.history-tabs {
    color: white;
    padding-top:30px;
    display: flex;
    justify-content: center;
}

.history-tablink {
    background-color: rgba(46, 45, 45, 0.568);
    color:white;
    padding: 1em;
    font-weight: 450;
    border: 1px solid rgb(43, 128, 226);
    border-radius: 5px;
    flex: 1;
    text-align:center;


}
.history-tablink:hover {
    color:white;
    text-decoration: none;
    border-bottom: 2px solid #377bb5;

}