.employeeNew {
  color: #03d160;
  animation: glowing-employee-new 2000ms infinite;
  border-radius: 100%; }

@keyframes glowing-employee-new {
  0% {
    box-shadow: 0 0 -10px #03d160; }
  40% {
    box-shadow: 0 0 30px #03d160; }
  60% {
    box-shadow: 0 0 30px #03d160; }
  100% {
    box-shadow: 0 0 -10px #03d160; } }

.new {
  color: lightgray;
  animation: glowing-new 2000ms infinite;
  border-radius: 100%; }

@keyframes glowing-new {
  0% {
    box-shadow: 0 0 -10px #e4e3e2; }
  40% {
    box-shadow: 0 0 30px #e4e3e2; }
  60% {
    box-shadow: 0 0 30px #e4e3e2; }
  100% {
    box-shadow: 0 0 -10px #e4e3e2; } }
