.SignInForm-login, .SignUpForm-login {
    width: 350px;
    margin: auto;
    border: #41293291;
    margin-top: 75px;
    
}

/* ADD NEW CSS HERE */

.btn-primary {
    width: 350px;
    margin: auto;
}

.App-signup-text {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 15px;
    font-size: 16px;
}
.form {
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

.form-control {
    border: none;
    border-bottom: 2px solid #377bb5;
}
.help-block {
    background-color: #ff0b0b00 !important;
    color: black;
}

.error {
    background-color: #fffdfd00 !important;
    color: red
}

.sucess {
    background-color: #fffdfd00 !important;
    color: green;
}

.signin-link {
    color: black;
}

.signin-link:active {
    color: black;
    border-bottom: 2px solid #377bb5;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {

    .PhotoFeed {
        padding-top: 80px;
    }
}
