.BasicForm {
    width: 90%;
    margin: auto;
    margin-top: 100px;
    background-color: rgba(77, 77, 77, 0.123);
    padding: 20px;
    z-index: 9999;
}

.btn-primary {
    width: 100%;
    margin: auto;
    padding: 15px;
    background-color: rgba(49, 98, 166, 0.87);
    border: rgba(49, 98, 166, 0.521);
}

.btn-danger {
    width: 100%;
    margin: auto;
    padding: 15px;
    background: rgb(202, 16, 16);

}

.App-signup-text {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 15px;
    font-size: 16px;
}

.help-block {
    background-color: #fffdfd00 !important;
    color: rgb(36, 36, 36);
}

.form-control {
    background: rgba(255, 255, 255, 0.144);
    border-bottom: 2px solid rgba(50, 90, 163, 0.486);
    color: black;
}

label {
    color: rgb(63, 62, 62);
}

.Contact__container {
    margin-top: 120px;
    margin-bottom: -120px;
    width: 100%;
    text-align: center;
}

.Contact__container > a {
    color: rgb(41, 40, 40);
    font-size: 40px;
    padding: 40px;
}